PORT= 8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD= password
DB_NAME= bitly 
DB_SSLmODE = disable

JWT_SECRET = secret
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

AWS_REGION=east-1
AWS_ACCESS_KEY_ID =test
AWS_SECRET_ACCESS_KEY = test
AWS_S3_BUCKET= bitly-uploads
AWS_S3_ENDPOINT= https://Localstack:9000


UPLOAD_PATH=./uploads
MAX_UPLOAD_SIZE= 10485760 #10MB